<app-left-sidebar [isVaultPage]="true"></app-left-sidebar>
<section class="container middle-container">
  <app-drop-down [page]="page" [title]="filtersTitle"></app-drop-down>
  <app-drop-down [page]="page" [title]="organizationsTitle"></app-drop-down>
  <!-- Middle container header -->
  <app-middle-content-header [title]="title" [isButtons]="true"></app-middle-content-header>
  <!-- Middle container content -->
  <app-vault-items-list></app-vault-items-list>
</section>
<app-right-sidebar></app-right-sidebar>
