<app-left-sidebar [isVaultPage]="true"></app-left-sidebar>
<section class="container middle-container">
  <app-drop-down [page]="page" [title]="filtersTitle"></app-drop-down>
  <app-drop-down [page]="page" [title]="organizationsTitle"></app-drop-down>
  <!-- Middle container header -->
  <app-middle-content-header [title]="title" [isButtons]="true"></app-middle-content-header>
  <!-- Middle container content -->
  <div class="middle-container-content">
    <ul class="main-items-list">
      <li>
        <input type="checkbox">
        <i class="fas fa-globe"></i>
        <div class="text">
          <h3>Google Account</h3>
          <span>andrushagalushka@gmail.com</span>
        </div>
      </li>
      <li>
        <input type="checkbox">
        <i class="fas fa-globe"></i>
        <div class="text">
          <h3>Google Account</h3>
          <span>andrushagalushka@gmail.com</span>
        </div>
      </li>
      <li>
        <input type="checkbox">
        <i class="fas fa-globe"></i>
        <div class="text">
          <h3>Google Account</h3>
          <span>andrushagalushka@gmail.com</span>
        </div>
      </li>
      <li>
        <input type="checkbox">
        <i class="fas fa-globe"></i>
        <div class="text">
          <h3>Google Account</h3>
          <span>andrushagalushka@gmail.com</span>
        </div>
      </li>
      <li>
        <input type="checkbox">
        <i class="fas fa-globe"></i>
        <div class="text">
          <h3>Google Account</h3>
          <span>andrushagalushka@gmail.com</span>
        </div>
      </li>
      <li>
        <input type="checkbox">
        <i class="fas fa-globe"></i>
        <div class="text">
          <h3>Google Account</h3>
          <span>andrushagalushka@gmail.com</span>
        </div>
      </li>
      <li>
        <input type="checkbox">
        <i class="fas fa-globe"></i>
        <div class="text">
          <h3>Google Account</h3>
          <span>andrushagalushka@gmail.com</span>
        </div>
      </li>
      <li>
        <input type="checkbox">
        <i class="fas fa-globe"></i>
        <div class="text">
          <h3>Google Account</h3>
          <span>andrushagalushka@gmail.com</span>
        </div>
      </li>
      <li>
        <input type="checkbox">
        <i class="fas fa-globe"></i>
        <div class="text">
          <h3>Google Account</h3>
          <span>andrushagalushka@gmail.com</span>
        </div>
      </li>
      <li>
        <input type="checkbox">
        <i class="fas fa-globe"></i>
        <div class="text">
          <h3>Google Account</h3>
          <span>andrushagalushka@gmail.com</span>
        </div>
      </li>
      <li>
        <input type="checkbox">
        <i class="fas fa-globe"></i>
        <div class="text">
          <h3>Google Account</h3>
          <span>andrushagalushka@gmail.com</span>
        </div>
      </li>
      <li>
        <input type="checkbox">
        <i class="fas fa-globe"></i>
        <div class="text">
          <h3>Google Account</h3>
          <span>andrushagalushka@gmail.com</span>
        </div>
      </li>
      <li>
        <input type="checkbox">
        <i class="fas fa-globe"></i>
        <div class="text">
          <h3>Google Account</h3>
          <span>andrushagalushka@gmail.com</span>
        </div>
      </li>
      <li>
        <input type="checkbox">
        <i class="fas fa-globe"></i>
        <div class="text">
          <h3>Google Account</h3>
          <span>andrushagalushka@gmail.com</span>
        </div>
      </li>
      <li>
        <input type="checkbox">
        <i class="fas fa-globe"></i>
        <div class="text">
          <h3>Google Account</h3>
          <span>andrushagalushka@gmail.com</span>
        </div>
      </li>
      <li>
        <input type="checkbox">
        <i class="fas fa-globe"></i>
        <div class="text">
          <h3>Google Account</h3>
          <span>andrushagalushka@gmail.com</span>
        </div>
      </li>
      <li>
        <input type="checkbox">
        <i class="fas fa-globe"></i>
        <div class="text">
          <h3>Google Account</h3>
          <span>andrushagalushka@gmail.com</span>
        </div>
      </li>
      <li>
        <input type="checkbox">
        <i class="fas fa-globe"></i>
        <div class="text">
          <h3>Google Account</h3>
          <span>andrushagalushka@gmail.com</span>
        </div>
      </li>
      <li>
        <input type="checkbox">
        <i class="fas fa-globe"></i>
        <div class="text">
          <h3>Google Account</h3>
          <span>andrushagalushka@gmail.com</span>
        </div>
      </li>
      <li>
        <input type="checkbox">
        <i class="fas fa-globe"></i>
        <div class="text">
          <h3>Google Account</h3>
          <span>andrushagalushka@gmail.com</span>
        </div>
      </li>
      <li>
        <input type="checkbox">
        <i class="fas fa-globe"></i>
        <div class="text">
          <h3>Google Account</h3>
          <span>andrushagalushka@gmail.com</span>
        </div>
      </li>
      <li>
        <input type="checkbox">
        <i class="fas fa-globe"></i>
        <div class="text">
          <h3>Google Account</h3>
          <span>andrushagalushka@gmail.com</span>
        </div>
      </li>
      <li>
        <input type="checkbox">
        <i class="fas fa-globe"></i>
        <div class="text">
          <h3>Google Account</h3>
          <span>andrushagalushka@gmail.com</span>
        </div>
      </li>
      <li>
        <input type="checkbox">
        <i class="fas fa-globe"></i>
        <div class="text">
          <h3>Google Account</h3>
          <span>andrushagalushka@gmail.com</span>
        </div>
      </li>
    </ul>
  </div>
</section>
<app-right-sidebar></app-right-sidebar>
