<section class="mobile mobile-menu" [ngClass]="{ 'opened': (isOpened$ | async) }">
  <!--Mobile menu top side-->
  <div>
      <span class="logo">
        <i class="fas fa-shield-alt icon mobile-logo"></i>
        <span>PassGuard</span>
      </span>
    <nav>
      <ul class="mobile-navigation">
        <li>
          <app-mobile-menu-link [navigateTo]="'/vault'" [title]="pages.STORAGE"></app-mobile-menu-link>
        </li>
        <li>
          <app-mobile-menu-link [navigateTo]="'/tools'" [title]="pages.TOOLS"></app-mobile-menu-link>
        </li>
        <li>
          <app-mobile-menu-link [navigateTo]="'/settings'" [title]="pages.SETTINGS"></app-mobile-menu-link>
        </li>
      </ul>
      <span class="divider"></span>
      <ul class="mobile-navigation">
        <li>
          <app-mobile-menu-link [navigateTo]="'/settings/my-account'" [title]="'Account'"></app-mobile-menu-link>
        </li>
        <li>
          <app-mobile-menu-link [navigateTo]="'/vault'" [title]="'Get Help'"></app-mobile-menu-link>
        </li>
      </ul>
    </nav>
  </div>
  <!--Mobile menu bottom side-->
  <div>
    <nav>
      <ul class="mobile-navigation">
        <li>
          <app-mobile-menu-link [navigateTo]="'/vault'" [title]="'Lock'"></app-mobile-menu-link>
        </li>
        <li>
          <app-mobile-menu-link [navigateTo]="'/vault'" [title]="'Sign Out'"></app-mobile-menu-link>
        </li>
      </ul>
    </nav>
  </div>
</section>
