<section class="mobile mobile-menu">
  <!--Mobile menu top side-->
  <div>
      <span class="logo">
        <i class="fas fa-shield-alt icon mobile-logo"></i>
        <span>PassGuard</span>
      </span>
    <nav>
      <ul class="mobile-navigation">
        <li>
          <a href="" class="mobile-navigation-link">
            <i class="far fa-hdd mobile-nav-icon"></i>
            <span>Storage</span>
          </a>
        </li>
        <li>
          <a href="" class="mobile-navigation-link">
            <i class="fas fa-wrench mobile-nav-icon"></i>
            <span>Tools</span>
          </a>
        </li>
        <li>
          <a href="" class="mobile-navigation-link">
            <i class="fas fa-sliders-h mobile-nav-icon"></i>
            <span>Settings</span>
          </a>
        </li>
      </ul>
      <span class="divider"></span>
      <ul class="mobile-navigation">
        <li>
          <a href="" class="mobile-navigation-link">
            <i class="far fa-user mobile-nav-icon"></i>
            <span>Account</span>
          </a>
        </li>
        <li>
          <a href="" class="mobile-navigation-link">
            <i class="fas fa-question mobile-nav-icon"></i>
            <span>Get help</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <!--Mobile menu bottom side-->
  <div>
    <nav>
      <ul class="mobile-navigation">
        <li>
          <a href="" class="mobile-navigation-link">
            <i class="fas fa-lock mobile-nav-icon"></i>
            <span>Lock</span>
          </a>
        </li>
        <li>
          <a href="" class="mobile-navigation-link">
            <i class="fas fa-sign-out-alt mobile-nav-icon"></i>
            <span>Log out</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
