<app-middle-content-header [title]="title"></app-middle-content-header>

<div class="middle-container-content">
  <div class="settings-change-password-wrapper">
    <mark class="info-message warning">
      <h4>
        <i class="fas fa-exclamation-triangle"></i>
        WARNING
      </h4>
      <p>
        Proceeding will log you out of your current session, requiring you to log back in. Active sessions on
        other devices may continue to remain active for up to one hour.
      </p>
    </mark>
    <form class="settings-account-details-form top-margin">
      <div class="settings-account-details-form-group">
        <label for="settings-change-password-current-password">Current Master Password</label>
        <input type="password" id="settings-change-password-current-password">
      </div>
      <div class="settings-account-details-form-group">
        <label for="settings-change-password-new-password">New Master Password</label>
        <input type="password" id="settings-change-password-new-password">
      </div>
      <div class="settings-account-details-form-group last">
        <label for="settings-change-password-confirm-new-password">Confirm New Master Password</label>
        <input type="password" id="settings-change-password-confirm-new-password">
      </div>
      <button type="submit" class="default-middle-content-form-button orange fit-content-width">Continue</button>
    </form>
  </div>
</div>
