<app-middle-content-header [title]="title"></app-middle-content-header>

<div class="middle-container-content">
  <div class="settings-change-email-wrapper">
    <form class="settings-account-details-form">
      <div class="settings-account-details-form-group">
        <label for="settings-change-email-password">Master Password</label>
        <input type="password" id="settings-change-email-password">
      </div>
      <div class="settings-account-details-form-group last">
        <label for="settings-change-email-new-email">New Email</label>
        <input type="text" id="settings-change-email-new-email">
      </div>
      <button type="submit" class="default-middle-content-form-button orange fit-content-width">Continue</button>
    </form>
  </div>
</div>
