<section class="container left-container">
  <h2 class="title">
    <span>Filters</span>
  </h2>
  <span class="divider"></span>
  <!-- Left sidebar only for vault page -->
  <div *ngIf="isVaultPage" class="side-content-wrapper">
    <app-vault-filters></app-vault-filters>
  </div>
  <ul *ngIf="!isVaultPage" class="left-container-navigation-list">
    <li *ngFor="let link of navigation" routerLinkActive="active">
      <a [routerLink]="link.url">{{ link.title }}</a>
    </li>
  </ul>
</section>
