<!-- Middle container header -->
<app-middle-content-header [title]="title" [isButtons]="true"></app-middle-content-header>
<!-- Middle container content -->
<div class="middle-container-content">
  <ul class="settings-organizations-list">
    <li>
      <div class="title">
        <mark>CH</mark>
        <span>CHSBC</span>
      </div>
      <div class="button-wrapper">
        <!-- add visible class to show button -->
        <button class="default-button settings">
          <i class="fas fa-cog"></i>
          <i class="fas fa-caret-down"></i>
        </button>
        <section class="drop-down settings-drop-down">
          <ul>
            <li class="delete">
              <i class="fas fa-sign-out-alt settings-organizations-drop-down-list-icon"></i>
              <span>Leave</span>
            </li>
          </ul>
        </section>
      </div>
    </li>
    <li>
      <div class="title">
        <mark>CH</mark>
        <span>CHSBC</span>
      </div>
      <div class="button-wrapper">
        <button class="default-button settings">
          <i class="fas fa-cog"></i>
          <i class="fas fa-caret-down"></i>
        </button>
        <section class="drop-down settings-drop-down">
          <ul>
            <li class="delete">
              <i class="fas fa-sign-out-alt settings-organizations-drop-down-list-icon"></i>
              <span>Leave</span>
            </li>
          </ul>
        </section>
      </div>
    </li>
  </ul>
</div>
