<form class="add-item-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="add-item-form-group-double">
    <div
      class="add-item-form-group"
      [ngClass]="{ 'has-error': name.invalid && (name.dirty || name.touched) }"
    >
      <label for="add-item-form-item-name">Name</label>
      <input type="text" id="add-item-form-item-name" formControlName="name">
    </div>
    <div class="add-item-form-group select">
      <label for="add-item-form-item-ownership">Who owns this item?</label>
      <select id="add-item-form-item-ownership">
        <option value="email">andrushagalushka@gmail.com</option>
      </select>
    </div>
  </div>
  <div class="add-item-form-group textarea">
    <label for="">Notes</label>
    <textarea id="" rows="6"></textarea>
  </div>
  <div class="add-item-form-submit-group">
    <button type="submit" class="default-middle-content-form-button orange fit-content-width">Save</button>
    <button type="button" class="default-middle-content-form-button fit-content-width" (click)="closePopUp()">Cancel</button>
  </div>
</form>
