<section class="drop-down user-drop-down" [ngClass]="{ 'opened': isOpened | async }">
  <nav>
    <ul class="mobile-navigation">
      <li class="signed-us-wrapper">
        <span class="mobile-navigation-link">
          <span class="mobile-nav-icon signed-us-icon">A</span>
          <div class="signed-us-wrapper">
            <span class="signed-us-label">Signed as</span>
            <span class="signed-us-value">Andrii</span>
          </div>
        </span>
      </li>
      <span class="divider"></span>
      <li>
        <a href="" class="mobile-navigation-link">
          <i class="far fa-user mobile-nav-icon"></i>
          <span>Account</span>
        </a>
      </li>
      <li>
        <a href="" class="mobile-navigation-link">
          <i class="fas fa-question mobile-nav-icon"></i>
          <span>Get help</span>
        </a>
      </li>
      <span class="divider"></span>
      <li>
        <a href="" class="mobile-navigation-link">
          <i class="fas fa-lock mobile-nav-icon"></i>
          <span>Lock</span>
        </a>
      </li>
      <li>
        <a href="" class="mobile-navigation-link">
          <i class="fas fa-sign-out-alt mobile-nav-icon"></i>
          <span>Log out</span>
        </a>
      </li>
    </ul>
  </nav>
</section>
