.add-item-form-group {
  &.has-error {
    label {
      color: #FF6347;
    }

    input {
      position: relative;
      border-color: #FF6347;
      padding-right: 30px;
    }

    &::after {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 21px;
      top: 34px;
      background-image: url("../../../../../assets/images/exclamation-circle-solid.svg");
      background-size: 100%;
      background-position: 0 0;
    }

    &.password {
      &::after {
        right: 105px;
      }
    }
  }

  &.last {
    &.has-error {
      &::after {
        right: 6px;
      }
    }
  }
}

.add-item-form-group-double {
  .add-item-form-group {
    .first {
      &.has-error {
        @media (max-width: 1000px) {
          &::after {
            right: 6px;
          }
        }
      }
    }
  }
}
