<app-middle-content-header [title]="title"></app-middle-content-header>
<div class="middle-container-content">
  <div class="settings-new-organization-form-wrapper">
    <p>
      Organizations allow you to share parts of your vault with others as well as manage related
      users for a specific entity such as a family, small team, or large company.
    </p>
    <form class="settings-account-details-form">
      <div class="settings-account-details-form-group">
        <label for="settings-new-organization-name">Organization Name</label>
        <input type="text" id="settings-new-organization-name">
      </div>
      <button type="submit" class="default-middle-content-form-button orange fit-content-width">Create Organization</button>
    </form>
  </div>
</div>
