<!-- Middle container mobile lists with side containers content -->
<div class="mobile-sides-containers-content">
  <div class="list-wrapper">
    <div class="header" (click)="toggleDropDown()">
      <h2>{{ title }}</h2>
      <i
        class="fas fa-caret-down"
        [ngStyle]="{ 'transform': isOpened ? 'rotate(180deg)' : 'none' }"
      ></i>
    </div>

    <div
      *ngIf="isFilters && isOpened"
      class="side-content-wrapper mobile"
      [ngClass]="{ 'opened': isFilters && isOpened }"
      [@fade]="true"
    >
      <app-vault-filters></app-vault-filters>
    </div>

    <div
      *ngIf="isOrganizations && isOpened"
      class="side-content-wrapper"
      [ngClass]="{ 'opened': isOrganizations && isOpened }"
      [@fade]="true"
    >
      <app-vault-organizations-list [isInDropDown]="true"></app-vault-organizations-list>
    </div>

    <ul
      *ngIf="(isTools || isSettings) && isOpened"
      class="left-container-navigation-list mobile-drop-down"
      [ngClass]="{ 'opened': (isTools || isSettings) && isOpened }"
      [@fade]="true"
    >
      <li *ngFor="let link of navigation" [routerLinkActive]="'active'">
        <a [routerLink]="link.url">{{ link.title }}</a>
      </li>
    </ul>
  </div>
</div>
