<section class="page-content auth">
  <!--Content-->
  <main class="auth">
    <section class="auth-wrapper">
      <div class="auth-logo">
        <i class="fas fa-shield-alt auth-logo-icon"></i>
        <span>PassGuard</span>
      </div>
      <p>Log in or create a new account to<br />access your secure vault.</p>
      <router-outlet></router-outlet>
      <div class="footer-content">
        <span>© 2018, 16bit CHSBC</span>
        <span>Version 1.0.0</span>
      </div>
    </section>
  </main>
</section>
