<app-middle-content-header [title]="title"></app-middle-content-header>
<div class="middle-container-content">
  <div class="settings-account-details-wrapper">
    <form class="settings-account-details-form">
      <div class="settings-account-details-form-group">
        <label for="settings-account-details-name">Name</label>
        <input type="text" id="settings-account-details-name" value="Andriy">
      </div>
      <div class="settings-account-details-form-group">
        <label for="settings-account-details-email">Email</label>
        <input type="text" id="settings-account-details-email" disabled value="andrushagalushka@gmail.com">
      </div>
      <div class="settings-account-details-form-group last">
        <label for="settings-account-details-password-hint">Master Password Hint</label>
        <input type="text" id="settings-account-details-password-hint">
      </div>
      <button type="submit" class="default-middle-content-form-button orange fit-content-width">Save</button>
    </form>
    <div class="settings-account-details-picture-wrapper">
      <span class="settings-account-details-picture-bg">
        <span class="settings-account-details-picture-text">AN</span>
      </span>
    </div>
  </div>
</div>
