<section class="container right-container">
  <h2 class="title">
    <span>Organizations</span>
  </h2>
  <span class="divider"></span>
  <div class="side-content-wrapper">
    <ul class="default-list list-arrow first">
      <li>
        <i class="fas fa-caret-right"></i>
        <span>Organization 1</span>
      </li>
      <li>
        <i class="fas fa-caret-right"></i>
        <span>Organization 2</span>
      </li>
    </ul>
    <button class="right-container-add-organization">
      <i class="fas fa-plus"></i>
      <span>New organization</span>
    </button>
  </div>
</section>
