<form class="left-container-search">
  <input
    type="text"
    placeholder="Search in storage"
    class="input-default"
  >
</form>
<ul class="default-list first">
  <li class="active">
    <i class="fas fa-table"></i>
    <span>All elements</span>
  </li>
  <li>
    <i class="fas fa-star"></i>
    <span>Favorite</span>
  </li>
</ul>
<ul class="default-list">
  <h3>Elements type</h3>
  <li>
    <i class="fas fa-globe"></i>
    <span>Login</span>
  </li>
  <li>
    <i class="far fa-credit-card"></i>
    <span>Card</span>
  </li>
  <li>
    <i class="far fa-id-card"></i>
    <span>ID Card</span>
  </li>
  <li>
    <i class="far fa-sticky-note"></i>
    <span>Secure note</span>
  </li>
</ul>
<ul class="default-list list-arrow">
  <h3>Collections</h3>
  <li>
    <i class="fas fa-caret-right"></i>
    <span>Collection 1</span>
  </li>
  <li>
    <i class="fas fa-caret-right"></i>
    <span>Collection 2</span>
  </li>
  <li>
    <i class="fas fa-caret-right"></i>
    <span>Collection 3</span>
  </li>
</ul>
