<header>
  <!--PC header-->
  <nav class="pc">
    <ul class="header-navigation">
      <li class="active">
        <a routerLink="/vault">
          <i class="fas fa-shield-alt icon"></i>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/vault" class="default-link">{{ pages.SETTINGS }}</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/tools" class="default-link">{{ pages.TOOLS }}</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/settings" class="default-link">{{ pages.SETTINGS }}</a>
      </li>
    </ul>
    <ul class="header-navigation">
      <li class="user-icons" (click)="toggleUserPopUp()">
        <span class="user-icon-wrapper">
          <i class="fas fa-user user-icon"></i>
        </span>
        <span class="icon-arrow"></span>
      </li>
      <app-header-user-pop-up></app-header-user-pop-up>
    </ul>
  </nav>
  <!--Mobile header-->
  <nav class="mobile">
    <ul class="header-navigation">
      <li class="active" (click)="toggleMobileMenu()">
        <button class="open-mobile-menu">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </li>
      <li class="active">
        <span *ngIf="isTitleFor('vault')" class="default-link">{{ pages.STORAGE }}</span>
        <span *ngIf="isTitleFor('tools')" class="default-link">{{ pages.TOOLS }}</span>
        <span *ngIf="isTitleFor('settings')" class="default-link">{{ pages.SETTINGS }}</span>
      </li>
    </ul>
  </nav>
</header>
