<!-- Mobile Menu -->
<app-add-item-pop-up *ngIf="isAddItemPopUp$ | async"></app-add-item-pop-up>
<app-mobile-menu [@toggleMobileMenu]="true" *ngIf="isMobileMenu$ | async"></app-mobile-menu>
<section class="page-content" [ngClass]="{ 'no-scrolled': (isAddItemPopUp$ | async) }">
  <!-- Stub for mobile menu, for closing -->
  <div
    *ngIf="isMobileMenu$ | async"
    (click)="toggleMobileMenu()"
    class="stub"
  ></div>
  <!--Header-->
  <app-header></app-header>
  <!--Content-->
  <main>
    <router-outlet></router-outlet>
  </main>
  <!--Footer-->
  <app-footer></app-footer>
</section>
